@import url('https://fonts.googleapis.com/css2?family=Yeon+Sung&display=swap');
* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

.container{
    min-height:82vh;
}

h1{
    text-align: center;
    margin: 19px 0;
    font-family: "Yeon Sung";
    font-size: 40px;
}

.myForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.myInput{
    width: 40%;
    padding: 9px;
    margin: 9px 0px;
    font-size: 16px;
    border: 2px solid #c87373;
    border-radius: 8px;
}

.btn{
    padding: 7px 18px;
    margin: 13px 0px;
    font-size: 16px;
    color: white;
    border: 2px solid #000000;
    border-radius: 10px;
    outline: none;
    background-color: #e94646;
    cursor: pointer;
}
